<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/public/style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <title>Hello, world!</title>
</head>

<body>
    <%- include ('usernav.html') %>

        <h4>상세페이지</h4>
        <div class="container">
            <div class="mb-3">
                <div style="display: flex; justify-content: flex-end;">
                    <button type="button" class="btn btn-primary" style="margin: 3px;" id="PostEdit"
                        data-id="<%= postNum %>">수정하기</button>
                    <button type="button" class="btn btn-primary" style="margin: 3px;" id="PostDelete"
                        data-id="<%= postNum %>">삭제하기</button>
                </div>
                <label class="form-label" for="id">제목</label><span> / 글번호 : <%= postNum %> </span>
                <input class="form-control" type="text" name="Title" value='<%= postTitle %>' id="postTitle" />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">삽입된이미지</label><br>
                <img src=<%=imagename %> style="width: 300px;height:auto"><br>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                <textarea class="form-control" id="postContent" rows="3"
                    name="PostContent"><%= postContent %></textarea>
            </div>
            <div class="mb-3"
                style="border-top: 2px solid rgb(138, 136, 136); border-bottom: 2px solid rgb(138, 136, 136);">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">댓글목록</label><br>
                    <% for (let i=0; i < comment.length; i++){ %>
                        <span>
                            <strong><%= comment[i].userNick %></strong>(<%= comment[i].date %>)
                            <i style="cursor:pointer" id="commentEdit<%= i %>" data-id="<%= postNum %>" data-commentnum="<%= comment[i]._id %>" class="ml-2 bi bi-pencil-square"></i>
                            <i style="cursor:pointer" id="commentDelete<%= i %>" data-id="<%= postNum %>" data-commentnum="<%= comment[i]._id %>" class="ml-2 bi bi-x-square"></i><br>
                            <textarea class="form-control" rows="1" id="commentList-input<%= i %>" name="comment"><%= comment[i].comment %></textarea>
                        </span>
                        <% } %>
                </div>
                <div class="mb-3" style="border-top: 2px solid rgb(138, 136, 136)">
                    <input class="form-control" tyep="text" id="commentWrite-input" style="margin-top: 10px;">
                    <div style="display: flex; justify-content: flex-end;">
                        <button class="btn btn-primary mt-3" id="commentWrite-button" data-id="<%= postNum %>">댓글등록</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>

            //글삭제
            $('#PostDelete').click(function (e) {
                var 글번호 = e.target.dataset.id;
                $.ajax({
                    method: 'DELETE',
                    url: '/delete',
                    data: { _id: 글번호 },
                    success: function (data) {
                        $(location).attr("href", "/userIndex")
                    }
                })

            })

            //글수정
            $('#PostEdit').click(function (e) {
                var 글번호 = e.target.dataset.id;
                var 글제목 = $('#postTitle').val();
                var 글내용 = $('#postContent').val();
                $.ajax({
                    method: 'PUT',
                    url: '/edit',
                    data: {
                        _id: 글번호,
                        editTitle: 글제목,
                        editPostContent: 글내용,
                    },
                    success: function (data) {
                        console.log("수정완료요")
                        $(location).attr("href", "/userIndex")
                    }
                })
            })

            // 댓글달기
            $('#commentWrite-button').click(function (e) {
                var 댓글내용 = $('#commentWrite-input').val();
                var 글번호 = e.target.dataset.id;
                $.ajax({
                    method: 'POST',
                    url: '/commentWrite',
                    data: {
                        postId: 글번호,
                        comment: 댓글내용,
                    },
                    success: function (data) {
                        if (data == "댓글작성완료") {
                            $(location).attr("href", "/detail/" + 글번호)
                        }
                    }
                })
            })
            
            // 댓글수정
            var 댓글개수 = "<%= comment.length %>";
            for(i=0; i < 댓글개수;i++){
                $(`#commentEdit${i}`).click(function(e){
                    // j는 i값과 동일함.
                    var j = $(this).data('commentnum')-1;
                    var 글번호 = e.target.dataset.id;
                    var 댓글내용 = $(`#commentList-input${j}`).val();
                    var 댓글번호 = e.target.dataset.commentnum;
                    $.ajax({
                        method: 'PUT',
                        url: '/commentEdit',
                        data: {
                            postId: 글번호,
                            comment: 댓글내용,
                            commentNum: 댓글번호,
                        },
                        success: function(data){
                            if(data == "댓글수정완료"){
                                alert("댓글수정완료요")
                                $(location).attr("href", "/detail/" + 글번호)
                            } else if(data == "댓글수정실패"){
                                alert("본인 댓글만 수정 가능")
                            }
                        }
                    })
                }) 
            }
            
            // 댓글삭제
            for(i=0; i < 댓글개수;i++){
                $(`#commentDelete${i}`).click(function(e){
                    var 글번호 = e.target.dataset.id;
                    var 댓글번호 = e.target.dataset.commentnum;
                    $.ajax({
                        method: 'DELETE',
                        url: '/commentDelete',
                        data: {
                            postId: 글번호,
                            commentNum: 댓글번호,
                        },
                        success: function(data){
                            if(data == "댓글삭제완료"){
                                alert("댓글삭제완료요")
                                $(location).attr("href", "/detail/" + 글번호)
                            } else if(data == "댓글삭제실패"){
                                alert("본인 댓글만 삭제 가능")
                            }
                        }
                    })
                }) 
            }


        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>